*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #E7E6E6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 90vw;
    min-width: 30.2rem;
    max-width: 768px;
    height: 51.0rem;
    margin: 0 auto;
    background-color: #CDCDCD;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.31);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.image{
    width: 17.2rem;
    margin: 5.1rem 0 1.9rem;
}

.input{
    width: 60vw;
    min-width: 20.8rem;
    max-width: 44.8rem ;
    height: 2.8rem;
    font-size: 1.2rem;
    margin-bottom: 3.1rem;
    padding: 0.7rem 0.4rem;
    background-color: #e7e6e6;
    border: 0.1rem solid #819CB5;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.31);
    outline: none;
    text-align: center;
}

.select-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select{
    width:13.6rem;
    height: 3rem;
    margin-bottom: 2.4rem;
    padding: 0 0.8rem;
    font-size: 1.2rem;
    background-color: #d9d9d9;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.31);
    border: 0.1rem solid #819CB5;
    cursor: pointer;
}

.select:hover{
    background-color: #6c869e;
    color: #fff;
}

.button {
    width: 19rem;
    height: 3.1rem;
    margin-top: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    background-color: #70AD47;
    border: 0.1rem solid #9AA890;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.31);
    outline: none;
    cursor: pointer;
}

.button:hover{
    background-color: #80c751;
}

.button:active{
    background-color: #598a38;
}

.validacion{
    width: 38vw;
    min-width: 23rem;
    max-width: 650px;
    height: 4rem;
    margin: 1.9rem 0 0.8rem;
    border: 0.1rem solid #809AB0;
    border-radius: 0.8rem;
    background-color: #FEB1A4;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.31);
    font-size: 1.5rem;
}

@media (min-width: 520px) {

    .select-container{
        flex-direction: row;
        gap: 2rem;
    }

    .button{
        margin-top: 1.8rem;
    }

    .validacion{
        margin-top: 3.4rem;
    }
}